<title>Shamir Checkout Demo</title>
<div class="text-center">
    <h1> Shamir Test Shop</h1>
</div>
<div id="proceed" class="text-center mt-5">
    <p>Total: 150 MXN</p>
    <a id="checkout-btn" class="btn btn-lg alert-success rounded "> Checkout</a>
</div>
<div id="paymentoptions" style="display: none;"> 

</div>
<script type="text/javascript" src="/scripts/checkout.js"></script>
